[project]
	description = device_google_pantah
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/heads/*"]
	abandon = group pantah devs
	create = group pantah devs
	forgeAuthor = group pantah devs
	forgeServerAsCommitter = group pantah devs
	label-Verified = -1..+1 group pantah devs
	push = +force group pantah devs
	submit = group pantah devs
	forgeCommitter = group pantah devs
	label-Code-Review = -2..+2 group pantah devs
